<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlanJuden.MvcReportViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AlanJuden.MvcReportViewer.Properties.Settings>
            <setting name="AlanJuden_MvcReportViewer_ReportServiceExecution_ReportExecutionService"
                serializeAs="String">
                <value>http://YourReportServer.com:80/ReportServer/ReportExecution2005.asmx</value>
            </setting>
            <setting name="AlanJuden_MvcReportViewer_ReportService_ReportingService2005"
                serializeAs="String">
                <value>http://YourReportServer.com:80/ReportServer/ReportService2005.asmx</value>
            </setting>
        </AlanJuden.MvcReportViewer.Properties.Settings>
    </applicationSettings>
</configuration>